<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses list</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container ">
  <!--    TODO Add container everywhere-->
  <h1 class="jumbotron">Dance academy</h1>
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
    <tr>
      <th>Course name</th>
      <th>Weekday</th>
      <th>Hour</th>
      <th>Level</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
      <td th:text="${course.name}"></td>
      <td th:text="${course.weekday.name}" class="funny"></td>
      <td th:text="${course.time}" class="funny"></td>
      <td th:text="${course.level}" class="funny"></td>
      <td>
      <form action="#" th:action="@{/courses/{id}(id=${course.courseId})}"
            th:method="delete" th:object="${course}">
        <button type="submit"
                class="btn btn-danger btn-sm"
                onclick="if(!(confirm('Are you sure?')))return false"
        >Delete
        </button>
      </form>
      </td>
    </tr>
    </tbody>
  </table>


</div>


</body>
</html>