<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <form action="#" th:action="@{/courses/add}" th:object="${course}" method="post">
    <table>
      <tr>
        <td>Course name:</td>
        <td><input type="text" th:field="*{name}"
                   th:class="${#fields.hasErrors('name')}? 'form-control is-invalid' : 'form-control'"></td>
        <!--<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>-->
        <mark class="error-sign small" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</mark>

      </tr>
      <tr>
        <td>Day of week:</td>
        <td><select th:field="*{weekday}">
          <option th:each="weekday : ${weekdays}"
                  th:value="${weekday}"
                  th:text="${weekday.name}"></option>
        </select></td>
        <td th:if="${#fields.hasErrors('weekday')}" th:errors="*{weekday}">Weekday Error</td>
      </tr>
      <tr>
        <td>Hour:</td>
        <td><select name="time" th:field="*{time}">
          <option th:each="time : ${hours}"
                  th:text="${time.time}"
                  th:value="${time}"></option>
        </select></td>
        <td th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time Error</td>
      </tr>
      <tr>
        <td>Level:</td>
        <td><input type="text" th:field="*{level}"/></td>
        <td th:if="${#fields.hasErrors('level')}" th:errors="*{level}">Level Error</td>
      </tr>
      <tr>
        <td>
          <button type="submit">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
