<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add student</title>
  <th:block th:include="fragments :: bootstrap"/>
</head>
<body>
<div>
  <h1>Add student</h1>
  <form method="POST" action="#" th:action="@{/students}" th:object="${student}">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input id="inputName" name="name"  type="text">
      <span th:if="${#fields.hasErrors('')}"></span>
    </div>
    <div class="form-group">
      <label for="inputSurname">Surname</label>
      <input id="inputSurname" name="surname" type="text">
    </div>
    <div class="form-group">
      <label for="inputGender">Gender</label>
      <select id="inputGender" name="gender">
        <option value="" disabled selected hidden>Gender</option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>
    </div>
<div class="form-group col-md-6">
      <label for="inputEmail">Email address</label>
      <input id="inputEmail" name="emailAddress" type="email" placeholder="Email address" class="form-control">
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input id="phone" name="phoneNumber" type="text" placeholder="Phone number">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>

</body>
</html>