<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <form action="#" th:action="@{/courses/add}" th:object="${course}" method="post">
            <table>
                <tr>
                    <td>Nazwa kursu:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Dzień tygodnia:</td>
                    <td><select name="dayOfWeek" th:field="*{dayOfWeek}">
                        <option value="Monday">Poniedziałek</option>
                        <option value="Tuesday">Wtorek</option>
                        <option value="Wednesday">Środa</option>
                        <option value="Thursday">Czwartek</option>
                        <option value="Friday">Piątek</option>
                        <option value="Saturday">Sobota</option>
                        <option value="Sunday">Niedziela</option>
                    </select></td>
                    <!--<td th:if="${#fields.hasErrors('dayOfWeek')}" th:errors="*{dayOfWeek}">Age Error</td>-->
                </tr>
                <tr>
                    <td>Godzina:</td>
                    <td><input type="text" th:field="*{time}" /></td>
                    <td th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time Error</td>
                </tr>
                <tr>
                    <td>Poziom:</td>
                    <td><input type="text" th:field="*{level}" /></td>
                    <td th:if="${#fields.hasErrors('level')}" th:errors="*{level}">Level Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
