<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block th:include="fragments :: bootstrap"/>
</head>
<body>
<div>
  <div th:replace="fragments :: hello"></div>
  <div class="btn btn-dark">
    <a th:href="@{students/add}">Add student</a>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email address</th>
      <th>Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
      <td th:text="${student.id}"></td>
      <td th:text="${student.name}"></td>
      <td th:text="${student.surname}"></td>
      <td th:text="${student.emailAddress}"></td>
      <td th:text="${student.phoneNumber}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>