<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block th:include="fragments :: bootstrap"/>

</head>
<body>
<div class="container-fluid">
  <div class="btn btn-dark">
    <a th:href="@{students/add}" th:text="#{add}"></a>
  </div>
  <div th:class="row">
    <div class="table-responsive col-lg-6 col-md-6 col-sm-12">
      <table th:replace="students/students-table :: table(${followers})"></table>
    </div>
    <div class="table-responsive col-lg-6 col-md-6 col-sm-12">
      <table th:replace="students/students-table :: table(${leaders})"></table>

    </div>

  </div>

</div>
</body>
</html>