<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<table th:fragment="students-table(students)" class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Gender</th>
    <th>Email address</th>
    <th>Phone number</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${students}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.name}"></td>
    <td th:text="${student.surname}"></td>
    <td th:text="${student.gender.name}"></td>
    <td th:text="${student.emailAddress}"></td>
    <td th:text="${student.phoneNumber}"></td>
  </tr>
  </tbody>
</table>


</body>
</html>